*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url(../img/fundo/fundo.jpg); 
    background-repeat: no-repeat;  
    background-size: cover;
}

nav#topo{
    margin-top: 1%;
    background-color: 1A591E;
    border: 0px;
}

footer#rodape{
    color: #ffffff;
    position:absolute;
    bottom:0;
    text-align: center;
}
