*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family:"Avdira";
    src:url("Avdira_R.eot?") format("eot"),
        url("Avdira_R.woff") format("woff"),
        url("Avdira_R.ttf") format("truetype"),
        url("Avdira_R.svg#Avdira") format("svg");
    font-weight:normal;
    font-style:normal;
}

body{
    background: url(../img/fundo/fundo.png); 
    background-repeat: no-repeat;  
    background-size: cover;
}

nav#menu{
    margin-top: 1%;
    background-color: 1A591E;
    border: 0px;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: justify;
}

footer#rodape{
    color: #ffffff;
    text-align: center;
}

div#fundoconteudo{
    background-color: 4CAF50;
    text-align: justify;
    border: 0px;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    filter:alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity:0.7;
    -webkit-opacity:0.7;
}

h4#paineladm{
    color: #cc3300;
    margin-left: 35%;
}

form#testando{
    margin-top: 10%;
    margin-left: 30%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

form input[type='text']{
    width: 100%;
    border-radius: 2px;
    height: 30px;
}

form input[type='submit']{
    width: 100%;
    border-radius: 2px;
    height: 30px;
}

a#imagens{
    background: none;
    border: 0px;
}